<!--Device view-->
<div  ng-hide='loading'>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-warning" href="#/"> < Devices list</a>
            <!-- Applying changes button-->
            <button class="btn btn-success pull-right" ng-click="saveDevice()" ng-show="isEditable">
            <i class="glyphicon glyphicon-ok"></i>
                Apply changes
            </button>
        </div>
        <br>
        <hr>
        <!-- Infos sur le device -->
        <div class="panel panel-primary col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                <h2 class="panel-title">Device ID : {{id}}</h2>
                <!-- Change to this after for avoiding {{}} -->
                <h2 class="panel-title" ng-bind-template="Port-forwarding : {{portforwarding}}"></h2>
            </div>
            <div class="panel-body">
                <i>Configuration : {{configuration}}</i><br>
                <i>Last connection on {{dateConnection}}</i><br>
                <i>Communication protocol : {{modeConnection}} at {{uri}}</i>
                <br>
                <br>
                <p>
                <strong>Name</strong>
                <input class="control" type="text"  ng-disabled="!isEditable" ng-model="name"/> 
                <input class="control" type="checkbox" ng-model="isEditable">  Edit
                <br>
                <i ng-show="isEditable">Note : changes will be effective after apply changes.</i>
                </p>
                <hr>

                <!-- Devices capabilities -->
                <h3>Capabilities</h3>

                <table st-table="devices" class="table table-striped" style="width: 40%">
                    <thead>
                    <tr>
                        <th class="text-center">Configuration </th>
                        <th class="text-center">ID </th>
                        <th class="text-center">Protocol</th>
                        <th class="text-center">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="capability in capabilities | orderBy:order">

                            <td class="text-center">{{capability.configurationCapability}}</td>
                            <td class="text-center">{{capability.idCapability}}</td>
                            <td class="text-center">{{capability.protocolCapability.protocolName}}</td>
                            <td class="text-right">

                               <button ng-show="!capability.isEditable" type="button" ng-click="openAndShowCapability($index, capability)" class="btn btn-sm btn btn-info">
                                    <i class="glyphicon glyphicon-show"></i>
                                    Show
                                </button>
                                
                                <button ng-show="capability.isEditable" type="button" ng-click="openAndEditCapability($index, capability)" class="btn btn-sm btn btn-info">
                                  <i class="glyphicon glyphicon-edit"></i>
                                  Edit
                                </button>

                                <button class="btn btn-sm btn-danger" ng-show="capability.isEditable" type="button" ng-click="removeCapability(capability)" class="btn btn-sm btn btn-info">
                                 <i class="glyphicon glyphicon-remove-circle"></i>
                                Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>


        <!-- SHOW CAPACBILITY -->
                <div class="panel panel-warning col-sm-12 col-md-12 col-lg-12" id="edit" ng-show="ShowIsOpen">
                    <div class="panel-heading col-sm-12 col-md-12 col-lg-12">
                        <h2 class="panel-title col-sm-12 col-md-12 col-lg-12">Show capability</h2>
                    </div>
                    <div class="panel-body col-sm-12 col-md-12 col-lg-12">                
                            <strong>ID : {{editedCapability.idCapability}} </strong>
                            <br><br>
                            <li>
                            <strong>Protocol type</strong> :  {{editedCapability.protocolCapability.protocolName}}
 
                            </li>
                            <li ng-repeat="parameter in editedCapability.protocolCapability.parameters">
                                <strong>{{parameter.nameParamCapability}}</strong> : {{parameter.value}}
                            </li>
                            <br>   
                            <strong>Keywords :</strong>
                            <li ng-repeat="word in editedCapability.keywords">
                                {{word.text}}
                            </li>
                            <br>

                            <button class="btn btn-danger pull-left" type="button" ng-click="openAndShowCapability(indexOfShowingCapacity)" />
                                Close
                            </button>
                                
                            <!-- Test capability button -->
                            <button type="button" class="btn btn-primary pull-right" ng-if="editedCapability.idCapability.indexOf('sensor') >= 0" ng-click="testCapability(editedCapability)" data-toggle="modal" data-target="#responseSensorModal">Test</button>

                            <!-- Stop capability button -->
                            <button type="button" class="btn btn-primary pull-right" ng-if="editedCapability.idCapability.indexOf('motor') >= 0 && editedCapability.idCapability.indexOf('stop') >= 0" ng-click="testCapability(editedCapability)">Stop</button>

                            
                            <button ng-click="" type="button" class="btn btn-primary pull-right" ng-if="editedCapability.idCapability.indexOf('motor') >= 0 && editedCapability.idCapability.indexOf('stop') < 0" data-toggle="modal" data-target="#configParamsModal">Configure</button>
                            <br>
                                
                            

                            <!-- Modal Request -->
                            <div class="modal fade" id="configParamsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Configuration Of Parameters Modal</h4>
                                  </div>
                                  <div class="modal-body" ng-if="editedCapability.params.length <= 0">
                                      Les params ne sont pas disponibles pour cette capabilité
                                  </div>
                                  <div class="modal-body" ng-repeat="param in editedCapability.params">
                                    <!-- Implement a directive to solve this -->
                                    <div class="input-group">
                                      <span class="input-group-addon" id="sizing-addon2">{{param.idp}}</span>
                                      <input type="number" class="form-control" ng-model="configParams[param.idp]" ng-if="param.type == 'int'" aria-describedby="sizing-addon2" />
                                      <input type="text" class="form-control" ng-model="configParams[param.idp]" ng-if="param.type == 'string'" aria-describedby="sizing-addon2" />
                                    </div>
                                    
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-if="editedCapability.params.length > 0" ng-click="testCapability(editedCapability)">Test</button>
                                    <!-- <button type="button" class="btn btn-primary" ng-if="editedCapability.idCapability.indexOf('stop') >= 0" ng-click="testCapability(editedCapability)">Stop</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Modal Response -->
                            <div class="modal fade" id="responseSensorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document" ng-show="isResponseSensor">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Response</h4>
                                  </div>
                                  
                                  <div class="modal-body" ng-repeat="responseSensor in responseSensors">
                                    <!-- Implement a directive to solve this in the future-->
                                    <div class="input-group">
                                      <div class="input-group-addon" id="sizing-addon2" ng-bind-template="{{responseSensor}}"></div>
                                      
                                    </div>
                                    
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeResponseSensorModal()">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>


                <!-- EDIT CAPACBILITY -->
                <div class="panel panel-warning col-sm-12 col-md-12 col-lg-12" id="edit" ng-show="EditIsOpen">
                    <div class="panel-heading col-sm-12 col-md-12 col-lg-12">
                        <h2 class="panel-title col-sm-12 col-md-12 col-lg-12">Edit capability</h2>
                    </div>
                    <div class="panel-body col-sm-12 col-md-12 col-lg-12">                
                        <form ng-submit="modifyCapability(editedCapability)">
                            <strong>ID : {{editedCapability.id}} </strong>
                            <br><br>
                            <li>
                                Protocol type :  {{editedCapability.protocol.protocolName}}
                               <!-- <select class="form-control" ng-model="editedCapability.protocol"
                                                ng-options="protocol.protocolName for protocol in protocols" ng-required="true" ng-change ="SelectCapability($item)">-->

                                <select class="form-control" ng-model="editedCapability.protocol"
                                                ng-options="protocol.protocolName for protocol in protocolsFromEdited" ng-required="true">
                                </select>
                            </li>
                            <li ng-repeat="parameter in editedCapability.protocol.parameters">
                                        {{parameter.nameParamCapability}}:
                                        <input class="form-control"  style="width: 40%;" type="text" ng-model="parameter.value">
                            </li>
                            <br>   
                            <li> Keywords </li> 
                            <tags-input   ng-model="editedCapability.keywords"></tags-input> 

                            <br>

                            <button class="btn btn-success pull-right" style="margin-left:5px" type="submit">
                                <i class="glyphicon glyphicon-ok"></i>
                                Apply 
                            </button>
                            <button class="btn btn-danger pull-left" type="button" ng-click="CloseEditCapability()" />
                                Undo
                            </button>
                            <!-- Test capability button -->
                            <button ng-click="testCapability(editedCapability)" type="button" class="btn btn-primary pull-right">Test</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD CAPABILITY -->
        <div class="addCapability panel panel-info col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading col-sm-12 col-md-12 col-lg-12">
                <h2 class="panel-title col-sm-12 col-md-12 col-lg-12">Add a capability</h2>
            </div>
            <div class="panel-body col-sm-12 col-md-12 col-lg-12">               
                <accordion>
                    <accordion-group>
                        <accordion-heading>
                            From existing one
                        </accordion-heading>                
                        <!-- From Existing -->
                        <input type="text" ng-model="NewFromExistingCapability" placeholder="search for a capability..." typeahead="capability as capability.id for capability in getCapability($viewValue) | filter:{id:$viewValue}" typeahead-loading="loadingCapabilities" typeahead-on-select="onSelectCapability($item, $model, $label)" class="form-control" />
                        <i ng-show="loadingCapabilities" class="glyphicon glyphicon-refresh"></i>
                        <!--<pre>Model: {{NewFromExistingCapability | json}}</pre>-->
                        <form name = "addFromExisting" ng-submit="addCapabilityFromExisting(NewFromExistingCapability)" ng-show="(NewFromExistingCapability != '' && NewFromExistingCapability != null)">
                            <strong>ID</strong><span class=" btn-danger" ng-show="idrequired">You must specify a new ID !</span>

                            <input name="id" class="form-control" style="width: 40%" type="text" placeholder="Type an ID... (Required)" ng-model="NewFromExistingCapability.id" id required>

                            <strong>Protocol </strong>
                            <select class="form-control" ng-model="NewFromExistingCapability.protocol"
                                    ng-options="protocol.protocolName for protocol in protocolsFromExisting" ng-required="true">
                            </select>
                            <li ng-repeat="parameter in NewFromExistingCapability.protocol.parameters">
                                {{parameter.nameParamCapability}}:
                                <input class="form-control"  type="text" ng-model="parameter.value">
                            </li>
                            <br>
                             <strong>Keywords </strong>
                             <tags-input ng-model="tags"></tags-input>                   
                             <!-- Reset capability button -->
                            <button ng-click="NewFromExistingCapability='';tags=null" type="button" class="btn btn-primary pull-left" >Reset</button>
                             <!-- Add capability button -->
                            <button style="margin-left:5px" class="btn btn-success pull-right" type="submit" >Add</button>
                            <!-- Test capability button -->
                            <button ng-click="testCapability(NewFromExistingCapability)" type="button" class="btn btn-primary pull-right">Test</button>
                        </form>
                    </accordion-group>

                    <accordion-group>
                        <accordion-heading>
                        New one
                        <!--Create a new capability-->
                        </accordion-heading>
                        <form ng-submit="addCapability(newCapability)">
                            <strong>ID</strong>
                            <input class="form-control" style="width: 40%" type="text" placeholder="Type an ID... (Required)" ng-model="newCapability.id" required>

                            <strong>Protocol </strong>
                            <select class="form-control" ng-model="newCapability.protocol"
                                    ng-options="protocol.protocolName for protocol in protocols" required>
                                <option value=""> -- Choose protocol --</option>
                            </select>
                            <li ng-repeat="parameter in newCapability.protocol.parameters">
                                {{parameter.nameParamCapability}}:
                                <input class="form-control" style="width: 40%" type="text" ng-model="parameter.value">
                            </li>
                            <br>        

                             <strong>Keywords </strong>
                             <tags-input ng-model="tags"></tags-input> 
                             <br>                
                             <!-- Reset capability button -->
                            <button ng-click="newCapability={};tags=null" type="button" class="btn btn-primary pull-left">Reset</button> 
                             <!-- Add capability button -->
                            <input style="margin-left:5px" class="btn btn-success pull-right" type="submit" value="Add"/>
                             <!-- Test capability button -->
                            <button ng-click="testCapability(newCapability)" type="button" class="btn btn-primary pull-right">Test</button>
                        </form>
                    </accordion-group>
                </ubi-accordion>
            </div> 
        </div> 
    </div> 
</div>
<div class="loading-modal" ng-show="isLoading"></div>