<!--Devices view-->
<div class="col-md-6 col-md-offset-3" ng-hide='loading'>
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h2 class="panel-title">Unrecognized devices list</h2>
        </div>
        <div class="panel-body">
            <th colspan="5">
                <input ng-model="query" class="form-control" placeholder="Search a device..." type="text"/>
            </th>

            <table st-table="devices" class="table table-striped">
                <thead>
                <tr>
                    <th>ID Device</th>
                    <th>Name</th>
                    <th>Last connection date</th>
                    <th>Connection mode</th>
                    <th>URI</th>
                </tr>
                </thead>
                <!-- Devices table -->
                <tbody ng-repeat="device in devices | filter:query ">
                <tr>
                    <td>{{device.id}}</td>
                    <td>{{device.name}}</td>
                    <td>{{device.dateConnection}}</td>
                    <td>{{device.modeConnection}}</td>
                    <td>{{device.uri}}</td>
                    <td>
                        <a class="btn btn-sm btn-success" ng-click="stopRefreshDevices()" href="#/device/{{device.id}}"> Configure</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>            
