<a class="btn btn-warning" href="#/"> < Devices list</a>
	
<div ng-hide='loading'>
	<div class="col-xs-6" >

		<h1><b>Device ID : {{id}}</b></h1>
		<i>Last connection on {{date}}</i>
		<p>
		<strong>Name</strong>
		<input class="control" type="text"  ng-disabled="!isEditable" ng-model="name"/> 
		<input class="control" type="checkbox" ng-model="isEditable">  Edit
		</p>
		<hr>

		<h2><b>Capabilities  </b></h2>

	    <table st-table="devices" class="table table-striped" style="width: 40%">
	        <thead>
	        <tr>
	            <th>ID </th>
	            <th>Protocol</th>
	        </tr>
	        </thead>
	        <tbody ng-repeat="capability in capabilities | orderBy:order">
	        <tr>
	            <td>{{capability.id}}</td>
	            <td>{{capability.protocol.protocolName}}</td>
	            <td>
		            <input class="btn btn-sm btn btn-info" type="submit" value="Edit"  ng-click="editme=true"/>
		            <!-- DIV POUR EDITER CAPACITE -->
		             <div class="check-element animate-show" ng-show="editme">
	                    <form ng-submit="modifyCapability()">

	                        <pre>{{capability.id}} </pre>
	                        <pre> {{capability.protocol}} </pre>
	                        <!-- <Strong> {{capability.id}} </Strong>
	                         <Strong> {{capability.protocol}} </Strong>-->
	                        <input st-search="" class="form-control"  style="width: 40%" type="text" placeholder="uri" ng-model="modifyCapability.uri"/>
	                        <br>
	                        <input  type="submit" value="Ok"  ng-click="editme=false"/>
	                    </form>
	                </div>
            	</td>
	        </tr>
	        </tbody>
	    </table>
		<hr>

	    <button type="button"  ng-click="showme=true" class="btn btn-default btn btn-primary">Add capability</button>
    	<button ng-click="showme=false" class="btn btn-default btn-danger">Undo</button><br>
		
		<!-- DIV POUR AJOUT DE CAPACITE -->
        <div class="check-element animate-show" ng-show="showme">
			<form ng-submit="addCapability()">
				<strong>ID </strong> 
				<input class="form-control" style="width: 40%" type="text" placeholder="Choose an ID" ng-model="newCapability.id"/>
				
				<strong>Protocol </strong>
				<select class="form-control" ng-model="newCapability.protocol" 
					ng-options="protocol.protocolName for protocol in protocols">
		      		<option value="">-- choose protocol --</option>
		    	</select>
		    	
		    	<li ng-repeat="parameter in newCapability.protocol.parameters">
		      		{{parameter.name}}: 
		      		<input class="form-control" style="width: 40%" type="text" ng-model="parameter.value">
		    	</li>
		    	<br>
				<input ng-click="showme=false" class="btn btn-success pull-right"  type="submit" value="Add"/>
			</form>
		</div>
	<br>
	<hr>

	<!-- Bouton pour valider tous les changements -->
    <button class="btn btn-success"ng-click="showme=false" class="btn btn-default pull-center">Apply</button>
	</div>
</div>
