<div ng-hide='loading'>

    <h1> <Strong>Not recognized devices</Strong> </h1><br>
    <th colspan="5"><input st-search="" class="form-control" placeholder="id device search ..." type="text"  style="width: 40%"
                           ng-model = "device.id" /></th>
    <table st-table="devices" class="table table-striped" style="width: 40%">
        <thead>
        <tr>
            <th>ID Device</th>
            <th>Name</th>
            <th>Last date connection </th>
            <th> Mode Connection</th>
        </tr>
        </thead>
        <tbody ng-repeat="device in devices">
        <tr>
            <td>{{device.id}}</td>
            <td>{{device.name}}</td>
            <td>{{device.last_connection_date}}</td>
            <td>{{device.connection_mode}}</td>

            <td>
                <!--<button type="button" ng-click="go('/device/{{device.id}}')" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i> Configure
                </button>-->
                <a href="#/device/{{device.id}}"> Configure</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>