<div ng-hide='loading'>
    <div class="col-xs-6" >

    <h1> <Strong>Unrecognized devices list</Strong> </h1><br>
    <th colspan="5">
        <input ng-model="query" class="form-control" placeholder="Search a device..." type="text"/>
    </th>

    <table st-table="devices" class="table table-striped">
        <thead>
        <tr>
            <th>ID Device</th>
            <th>Name</th>
            <th>Last connection date</th>
            <th>Connection mode</th>
            <th>URI</th>
        </tr>
        </thead>
        <!-- Tableau de devices -->
        <tbody ng-repeat="device in devices | filter:query ">
        <tr>
            <td>{{device.id}}</td>
            <td>{{device.name}}</td>
            <td>{{device.dateConnection}}</td>
            <td>{{device.modeConnection}}</td>
            <td>{{device.uri}}</td>
            <td>
                <a class="btn btn-sm btn-success" href="#/device/{{device.id}}"> Configure</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>