html, body {
    height: 100%;
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

h1 {
    color: navy;
}

.editCapability{
	background-color: #F8F8F8;
    padding: 20px 20px;
}
li{
  padding: 10px;
}