<div ng-show="errors.length > 0" class="alert alert-danger">
    <ul>
        <li ng-repeat="error in errors" ng-bind-template="{{error}}"></li>
    </ul>
</div>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="profile.name">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="profile.description">
    </div>
    
    <div class="form-group">
        <label for="category">Capabilities</label>
        <div class="list-group" data-toggle="capabilities">
            <a href class="list-group-item" ng-repeat="capability in capabilities" ng-click="chooseCapability(capability)" ng-bind-template="{{capability.id}} - {{capability.protocol.protocolName}} - {{capability.protocol.parameters[0].value}} - {{capability.protocol.parameters[2].value}} - {{capability.protocol.parameters[3].value}} - {{capability.configuration}}" ng-class="{active: capability.isActive}">
            </a>
            
        </div>
        <!-- <div class="row">
            <div class="list-group col-md-4" data-toggle="capabilities">
                <a href="#" class="list-group-item" ng-repeat="capability in capabilities" ng-bind-template="{{capability.id}}"></a>
            </div>
            <div class="col-md-8">
                
            </div>
        </div> -->
        
    </div>
    <button type="submit" class="btn btn-primary" ng-click="add()">Add</button>
</form>